Une analyse du nombre d’établissements par secteur d’activité et par taille en 2014

https://www.insee.fr/fr/statistiques/1893274

https://www.kaggle.com/etiennelq/french-employment-by-town

In [190]:
#chargement des bibliothèques logicielles
import pandas as pd
import numpy as np
import numbers

import re

import json
import geojson

import os

import folium

#chargement des données
df_tranche = pd.read_csv('data/base_etablissement_par_tranche_effectif.csv')
df_salaire = pd.read_csv('data/net_salary_per_town_categories.csv')
df_population = pd.read_csv('data/population.csv')
df_geo = pd.read_csv('data/name_geographic_information.csv')

with open('./data/communes.geojson') as f:
    json_communes = json.load(f)

with open('./data/communes.geojson') as f:
    json_departements = json.load(f)

#Display all outputs from cells
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

c:\users\sam\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
%qtconsole

Data Preparation

In [14]:
#Check tranche data
df_tranche.dtypes

# df_tranche.DEP.astype('int')
# df_tranche.CODGEO.astype('int')

#How many geo codes are not numeric?
counter = 0
geo_index = list()

for i in df_tranche.CODGEO:
    try: test = int(i)
    except:
        counter += 1
        geo_index.append(i)
        

print('non-numeric geo codes:' + str(counter))

#And Departements?
counter = 0
dep_index = list()

for i in df_tranche.DEP:
    try: test = int(i)
    except: 
        counter += 1
        dep_index.append(i)
        
print('non-numeric departements:' + str(counter))

#Check the total column adds up
np.sum(df_tranche['E14TST'] == df_tranche.iloc[:,5:14].\
       apply(np.sum, axis = 1)) == df_tranche.shape[0]

CODGEO      object
LIBGEO      object
REG          int64
DEP         object
E14TST       int64
E14TS0ND     int64
E14TS1       int64
E14TS6       int64
E14TS10      int64
E14TS20      int64
E14TS50      int64
E14TS100     int64
E14TS200     int64
E14TS500     int64
dtype: object

non-numeric geo codes:360

True

non-numeric departements:360

True

In [80]:
#Check geo data 
df_geo.dtypes

#Check for missing values
df_geo.head(5)

test = np.repeat(False, df_geo.shape[0])

#Across all columns
for col in df_geo.columns:
    #Find the rows with None records
    col_test = df_geo[col] == None
    test = test | col_test
    
    #Find rows with NaN records
    if isinstance(df_geo[col][0], numbers.Number):
        col_test2 = np.isnan(df_geo[col])
        test = test | col_test2

#Looks like the problem is missing long / lat / eloignement
df_geo[test]

#Convert to correct data types

#Matseille has three post codes delimited by whitespace
df_geo[df_geo.codes_postaux == '13001 13004 13012 ']

#Testing for castability
def num_castable(x):
    try:
        return(isinstance(float(x), float))
    except:
        return(False)

#So this is actually an array column delimited by whitespace
df_geo[np.logical_not(df_geo.codes_postaux.apply(num_castable))]

#Split and convert to float
#Need length for trailing white space
df_geo.codes_postaux = df_geo.codes_postaux.apply(lambda x: ([float(i) for i in x.split(" ") if len(i) > 0]))

#Do we need this?
df_geo.code_postale_max = df_geo.codes_postaux.apply(max)

#This has strings in it
df_geo[df_geo.numéro_département == '2A']

#Finally something that works
df_geo.code_insee.astype('int')

#Longitude
# ValueError: could not convert string to float: '3,28'
# df_geo.longitude.astype("float")

#They've mixed up French and English decimal notation, so it has loaded longitude as str
#Replace commas and convert to numeric if necessary
def decimal_translate(x):
    try:
        return(float(x))
    #Cases where it can't cast
    except:
        #French decimal
        x = re.sub(",", ".", x)
        #For where they are using - as null values
        if x == '-':
            x = float("NaN")
        return(float(x))
        
df_geo.longitude = df_geo.longitude.apply(decimal_translate)

#There are some with latitude but not longitude
df_geo[np.isnan(df_geo.latitude) * np.logical_not((np.isnan(df_geo.longitude)))]

EU_circo                   object
code_région                 int64
nom_région                 object
chef.lieu_région           object
numéro_département         object
nom_département            object
préfecture                 object
numéro_circonscription      int64
nom_commune                object
codes_postaux              object
code_insee                  int64
latitude                  float64
longitude                  object
éloignement               float64
dtype: object

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
60,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Saint-Just,01250,1369,NaN,NaN,NaN
65,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Saint-Sulpice,01340,1387,NaN,NaN,NaN
72,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Treffort-Cuisiat,01370,1426,NaN,NaN,NaN
96,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Brion,01460,1063,NaN,NaN,NaN
107,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Echallon,01130,1152,NaN,NaN,NaN
132,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Montréal-la-Cluse,01460,1265,NaN,NaN,NaN
135,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Nurieux-Volognat,01460,1267,NaN,NaN,NaN
145,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Sainte-Croix,01120,1342,NaN,NaN,NaN
149,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Saint-Jean-le-Vieux,01640,1363,NaN,NaN,NaN
162,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,2,Villieu-Loyes-Mollon,01800,1450,NaN,NaN,NaN
174,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Belmont-Luthézieu,01260,1036,NaN,NaN,NaN
181,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Brens,01300,1061,NaN,NaN,NaN
211,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Crozet,01170,1135,NaN,NaN,NaN
213,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Cuzieu,01300,1141,NaN,NaN,NaN
239,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Lhôpital,01420,1215,NaN,NaN,NaN
260,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Peyrieu,01300,1294,NaN,NaN,NaN
283,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Serrières-de-Briord,01470,1403,NaN,NaN,NaN
284,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Seyssel,01420,1407,NaN,"5,83",NaN
291,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Thoiry,01710,1419,NaN,NaN,NaN
293,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,3,Versonnex,01210,1435,NaN,NaN,NaN
309,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Beauregard,01480,1030,NaN,NaN,NaN
355,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Messimy-sur-Saône,01480,1243,NaN,NaN,NaN
358,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Miribel,01700,1249,NaN,NaN,NaN
365,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Neyron,01700,1275,NaN,NaN,NaN
383,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Saint-Bernard,01600,1339,NaN,NaN,NaN
398,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Saint-Marcel,01390,1371,NaN,NaN,NaN
416,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Villeneuve,01480,1446,NaN,NaN,NaN
417,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,4,Villette-sur-Ain,01320,1449,NaN,NaN,NaN
446,Nord-Ouest,22,Picardie,Amiens,02,Aisne,Laon,1,Bouconville-Vauclair,02860,2102,NaN,NaN,NaN
449,Nord-Ouest,22,Picardie,Amiens,02,Aisne,Laon,1,Bourguignon-sous-Montbavin,02000,2108,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36810,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,4,Petite-Ile,97429,97405,NaN,NaN,NaN
36811,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,4,Sainte-Rose,97439,97419,NaN,NaN,NaN
36812,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,4,Saint-Joseph,97480,97412,NaN,NaN,NaN
36813,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,4,Saint-Philippe,97442,97417,NaN,NaN,NaN
36814,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,4,Saint-Pierre,97410,97416,NaN,NaN,NaN
36815,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Bras-Panon,97412,97402,NaN,NaN,NaN
36816,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,La Plaine-des-Palmistes,97431,97406,NaN,NaN,NaN
36817,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Saint-André,97440,97409,NaN,NaN,NaN
36818,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Saint-Benoît,97470,97410,NaN,NaN,NaN
36819,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Sainte-Marie,97438,97418,NaN,NaN,NaN
36820,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Sainte-Suzanne,97441,97420,NaN,NaN,NaN
36821,Outre-Mer,4,La Réunion,Saint-Denis,974,Réunion,Saint-Denis,5,Salazie,97433,97421,NaN,NaN,NaN
36822,Outre-Mer,6,Saint-Pierre-et-Miquelon,Saint-Pierre,975,Saint-Pierre-et-Miquelon,Saint-Pierre,1,ACOUA,97500,97501,NaN,NaN,NaN
36823,Outre-Mer,6,Saint-Pierre-et-Miquelon,Saint-Pierre,975,Saint-Pierre-et-Miquelon,Saint-Pierre,1,BANDRABOUA,97500,97502,NaN,NaN,NaN
36824,Outre-Mer,6,Saint-Pierre-et-Miquelon,Saint-Pierre,975,Saint-Pierre-et-Miquelon,Saint-Pierre,1,BANDRELE,97500,97503,NaN,NaN,NaN
36825,Outre-Mer,6,Saint-Pierre-et-Miquelon,Saint-Pierre,975,Saint-Pierre-et-Miquelon,Saint-Pierre,1,SAINT-PIERRE,97500,97502,NaN,NaN,NaN
36826,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,BOUÉNI,97600,97604,NaN,NaN,NaN
36827,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,CHICONI,97600,97605,NaN,NaN,NaN
36828,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,CHIRONGUI,97620,97606,NaN,NaN,NaN
36829,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,DEMBENI,97660,97607,NaN,NaN,NaN
36830,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,DZAOUDZI,97610,97608,NaN,NaN,NaN
36831,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,KANI-KÉLI,97625,97609,NaN,NaN,NaN
36832,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,KOUNGOU,97690,97610,NaN,NaN,NaN
36833,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,MAMOUDZOU,97600,97611,NaN,NaN,NaN
36834,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,MTSAMBORO,97630,97612,NaN,NaN,NaN
36835,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,M'TSANGAMOUJI,97600,97613,NaN,NaN,NaN
36836,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,OUANGANI,97600,97614,NaN,NaN,NaN
36837,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,PAMANDZI,97610,97615,NaN,NaN,NaN
36838,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,SADA,97640,97616,NaN,NaN,NaN
36839,Outre-Mer,5,Mayotte,Mamoudzou,976,Mayotte,Mamoudzou,1,TSINGONI,97600,97617,NaN,NaN,NaN

In [3]:
#
df_tranche.head(5)
df_tranche.describe()

df_salaire.head(5)
df_salaire.describe()

df_population.head(5)
df_population.describe()

df_geo.head(5)
df_geo.describe()

,CODGEO,LIBGEO,REG,DEP,E14TST,E14TS0ND,E14TS1,E14TS6,E14TS10,E14TS20,E14TS50,E14TS100,E14TS200,E14TS500
0,01001,L'Abergement-Clémenciat,82,01,25,22,1,2,0,0,0,0,0,0
1,01002,L'Abergement-de-Varey,82,01,10,9,1,0,0,0,0,0,0,0
2,01004,Ambérieu-en-Bugey,82,01,996,577,272,63,46,24,9,3,2,0
3,01005,Ambérieux-en-Dombes,82,01,99,73,20,3,1,2,0,0,0,0
4,01006,Ambléon,82,01,4,4,0,0,0,0,0,0,0,0

,REG,E14TST,E14TS0ND,E14TS1,E14TS6,E14TS10,E14TS20,E14TS50,E14TS100,E14TS200,E14TS500
count,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000
mean,49.415365,123.456067,83.555301,27.291486,5.220550,3.800333,2.296448,0.738339,0.332434,0.172760,0.048417
std,25.451207,2353.384846,1729.874812,432.062116,83.685519,60.961216,32.597382,9.882131,4.850211,2.783668,1.091031
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,8.000000,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43.000000,19.000000,14.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,73.000000,54.000000,39.000000,11.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,94.000000,427385.000000,316603.000000,76368.000000,14836.000000,10829.000000,5643.000000,1658.000000,812.000000,456.000000,180.000000

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
0,01004,Ambérieu-en-Bugey,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,...,11.6,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6
1,01007,Ambronay,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,...,11.7,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4
2,01014,Arbent,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,...,11.8,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6
3,01024,Attignat,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,...,11.6,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9
4,01025,Bâgé-la-Ville,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,...,11.4,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9

,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,SNHMFE14,SNHMFO14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
count,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,...,5136.000000,5136.000000,5136.000000,5136.00000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000
mean,13.706386,23.703836,14.575876,10.564505,11.235650,12.038026,20.220502,13.274260,10.308879,9.827161,...,11.498189,9.549766,13.495444,15.87722,9.161565,12.055160,13.174143,9.820872,14.485981,17.679809
std,2.559329,2.836183,1.490110,0.811775,1.221755,1.787995,2.327550,0.990166,0.747563,1.104684,...,1.289598,0.997444,2.363144,3.58586,0.453023,1.825306,2.249391,1.539949,2.852490,4.530257
min,10.200000,16.000000,11.600000,8.700000,8.300000,9.300000,12.000000,10.600000,8.700000,6.100000,...,8.900000,7.900000,9.700000,10.50000,7.500000,9.100000,9.500000,7.800000,9.600000,10.800000
25%,12.100000,21.900000,13.800000,10.000000,10.600000,10.900000,18.800000,12.600000,9.800000,9.200000,...,10.800000,9.200000,12.000000,13.70000,8.900000,10.900000,11.700000,9.400000,12.700000,14.900000
50%,13.000000,23.200000,14.400000,10.400000,11.000000,11.500000,20.000000,13.100000,10.100000,9.700000,...,11.300000,9.500000,12.900000,15.00000,9.100000,11.600000,12.600000,9.700000,13.800000,16.600000
75%,14.400000,24.900000,15.100000,10.900000,11.600000,12.700000,21.400000,13.800000,10.600000,10.200000,...,11.900000,9.700000,14.300000,16.90000,9.400000,12.700000,14.000000,10.000000,15.500000,19.000000
max,43.300000,51.500000,54.600000,17.500000,46.300000,26.700000,35.500000,19.000000,16.100000,28.100000,...,53.200000,60.600000,38.100000,56.90000,12.000000,26.600000,31.000000,93.300000,45.400000,68.600000

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM   1001  L'Abergement-Clémenciat    11          0     1  15
1    COM   1001  L'Abergement-Clémenciat    11          0     2  15
2    COM   1001  L'Abergement-Clémenciat    11          5     1  20
3    COM   1001  L'Abergement-Clémenciat    11          5     2  20
4    COM   1001  L'Abergement-Clémenciat    11         10     1  20

               MOCO     AGEQ80_17       SEXE            NB
count  8.536584e+06  8.536584e+06  8536584.0  8.536584e+06
mean   2.171429e+01  4.000000e+01        1.5  7.446743e+00
std    7.591618e+00  2.449490e+01        0.5  1.010993e+02
min    1.100000e+01  0.000000e+00        1.0  0.000000e+00
25%    1.200000e+01  2.000000e+01        1.0  0.000000e+00
50%    2.200000e+01  4.000000e+01        1.5  0.000000e+00
75%    3.100000e+01  6.000000e+01        2.0  3.000000e+00
max    3.200000e+01  8.000000e+01        2.0  4.887300e+04

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01

,code_région,numéro_circonscription,code_insee,latitude,éloignement
count,36840.000000,36840.000000,36840.000000,33911.000000,33878.000000
mean,49.409881,3.818594,46298.368621,47.000659,1.471278
std,25.475629,3.042461,25529.124657,2.209990,0.558343
min,1.000000,1.000000,1001.000000,41.391667,-1.000000
25%,25.000000,2.000000,24576.750000,45.216667,1.140000
50%,43.000000,3.000000,48190.500000,47.433333,1.480000
75%,73.000000,5.000000,67043.250000,48.850000,1.820000
max,94.000000,24.000000,97617.000000,51.083333,3.000000